$main: #231F20;
$accent: #396D66;
$light-brown: #8B7670;
$light-grey: #D4CEC5;
$white: #ECEDF1;
$danger:#973d3d;
$yellow:#afbf00;
$overlay-color: rgba(0, 0, 0, 0.7);

$base-size:14px;
$ibm: 'IBM Plex Mono', monospace;

$header-height:40px;
$footer-height:40px;