$main: #231F20;
$accent: #396D66;

$white: #ECEDF1;
$danger:#ff9a9a;

$rock: #922000;
$paper:#80560e;
$scissors: #a09a16;
$lizard: #3d733d;
$spock: #276690;

$base-size:14px;
$ibm: 'IBM Plex Mono', monospace;

$header-height:40px;
$footer-height:40px;