#reload-button {
    pointer-events: all !important;
    z-index: 99;
    position: fixed;
    top: 20px;
    left: 20px;
    height: 40px;
    width: 40px;
    text-align: center;
    background: $accent;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid $accent;
    @include transition(all .3s ease-in-out);
    i {
        @include transition(all .3s ease-in-out);
        line-height: 40px;
        font-size: 1.3em;
        color: $white;
    }
    &:hover {
        background: $white;
        i {
            color: $accent;
        }
    }
}

@media screen and (max-width:767px) {
    #reload-button {
        top: initial;
        bottom: 10px;
        right: 10px;
        left: initial;
        height: 30px;
        width: 30px;
        i {
            line-height: 30px;
            font-size: 1.1em;
        }
    }
}