#game-info {
    .game-info-inner {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        height: 10vh;
        align-items: center;

        .names-wrapper {
            .separator {
                margin: 20px 0;
            }

            .score {
                margin-left: 15px;
                font-weight: 600;
            }

            .choice {
                margin-left: 25px;
            }
        }

        .game-messages {
            text-align: center;

            i {
                display: block;
                font-size: 1.2em;
                margin-top: 12px;
            }

            &.success {
                border: 8px dotted $main;
                padding: 20px;
            }
        }
    }
}

@media screen and (max-width:767px) {
    #game-info {
        .game-info-inner {
            font-size: .8em;
            justify-content: center;

            .names-wrapper {
                .separator {
                    display: none;
                }
                .player-name:nth-child(1),.player-name:nth-child(3) {
                    left: 20px;
                }
                .player-name:nth-child(1) {
                    top: 70px;
                }

                .player-name:nth-child(3) {
                    bottom: 12px;
                }
            }

            .rounds-info,
            .player-name {
                position: fixed;
            }

            .rounds-info {
                top: 70px;
                right: 10px;
            }
        }
    }
}